*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

:root{
    --body-color: #efefef;
    --header-color: #1876f2;
    --bg-color: #fff;
}

.dark-theme{
    --body-color: #0a0a0a;
    --header-color: #000;
    --bg-color: #000;
}

/*header section*/

header{
    background-color: var(--header-color);
    padding: 5px 4%;
    display: flex; 
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

#headleft,#headright{
    display: flex;
    align-items: center;
}
#headleft h1{
    color: whitesmoke;
    width: 130px;
    font-size: 27px;
    box-sizing: border-box;
    
    /* animation-name: rotate3d;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; */
}
 
/* @keyframes rotate3d{
    form{transform: rotatex(0deg);}
    to{transform: rotatex(360deg);}
} */


#headleft ul li{
    display: inline-block;
    list-style: none;

}
#headleft ul li img{
    width: 26px;
    margin: 0 10px;
}
#searchbox{
    background-color: white;
    width: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
#searchbox input{
    width: 100%;
    border: none;
    outline: none;
    padding: 2px;
    font-size: 15px;
    color:#1876f2;
}
#searchbox img{
    width:15px;
    margin-right: 7px;
}


#headimg img{
    width: 30px;
    border-radius: 50%;
    margin-left: 15px;
}
.online{
    position:relative;
}
.online::after{
    content:'';
    background-color: rgb(38, 224, 38);
    height: 6px;
    width: 6px;
    border:1px solid #fff;
    border-radius: 50%;
    position:absolute;
    top:0px;
    right:0px;

}

/*body section*/

#body-container{
    display: flex;
    padding: 10px 4%;
    justify-content: space-between;
    background: var(--bg-color);
    transition: background 0.6s;
}

/*left side*/
#left-side{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top:70px;
}
#left-side .imp-links{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #ccc;
}
.imp-links a img{
    width: 24px;
    margin-right: 10px;
}
.imp-links a{
    text-decoration: none;
    color: #1876f2;
    margin-bottom: 15px;
}
/*shortcut links*/

.shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 10px 0 ;
    color: #1876f2;
}

.shortcut-links a img{
    margin-right: 15px;
    width: 50px;
    border-radius: 8px;
}
.shortcut-links p{
    font-weight: 600;
    margin: 15px 0;
    color: #ABB2B9;
}

/*right side*/
#right-side{
    flex-basis: 25%;
    align-self: flex-start;
    position:sticky;
    top:50px;
    background: var(--bg-color);
    padding: 15px;
    border-radius: 5px;
    color: #65686B;
}

.rightside-title{
    display: flex;
    justify-content: space-between;
}
.rightside-title h3{
    font-size: 14px;
}
.rightside-title a{
    text-decoration: none;
    color:#1876f2;
    font-size: 12px;
}
.events{
    display:flex;
    margin-top: 10px;
}
.event-left{
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 65px;
    width: 55px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.event-left h2{
    padding-top: 6px;
}
.event-left span{
    background: #1876f2;
    color: #F4F6F6;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    padding: 3px 1px;
}
.event-right h3{
    font-size: 15px;
}
.event-right p{
    font-size: 14px;
}
.event-right a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.event-right p img{
    width: 9px;
    margin-right: 4px;
}
.sidebar-ads{
    width: 100%;
    margin: 10px 0;
    border-radius: 6px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-top: 8px;
    cursor: pointer;
}
.online-list .online img{
    width: 35px; 
    border-radius: 50%;
    margin: 5px 0;
}
.online-list p{
    margin-left: 15px;
}
.online-list .online{
    width: 35px;
    border-radius: 50%;
}
.online-list .online::after{
    position: absolute;
    right: 0;
    top:30px;
}

/*middle*/
#middle{
    flex-basis: 48%;
    border-radius: 5px;
}    
.story-cont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.story-box{
    flex-basis: 19%;
    padding-top: 38%;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.story-box img{
    width: 45px;
    position: absolute;
    top: 8px;
    left: 8px;
    border: 2px solid #1876f2;
    border-radius: 50%;
}
.story-box p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: var(--bg-color);
}
.story-1{
    background-image:linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(images/status-1.png);
}
.story-1 img{
    position: absolute;
    left: 25%;
    top: unset;
    bottom: 35px;
}
.story-2{
    background-image:linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(images/status-2.png);
}
.story-3{
    background-image:linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(images/status-3.png);
}
.story-4{
    background-image:linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(images/status-4.png);
}
.story-5{
    background-image:linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(images/status-5.png);   
}



.write-post-cont{
    width: 100%;
    background: var(--bg-color);
    border-radius: 10px;
    padding: 10px;
    color: #626262;
    margin-bottom: 15px;
    position: relative;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 40px;
    border-radius:50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
}
.user-profile small{
    font-size: 11px;
    margin: 5px;
    margin-left: 0;
}
.user-profile i{
    font-size: 16px;
    margin: 4px;
}
.input-cont{
    padding-left: 51px;
    padding-top: 20px;
}
.input-cont textarea{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    resize: none;
}
.write-post-cont-icon {
    display: flex;
    margin-top: 10px;
}
.write-post-cont-icon a img{
    width: 20px;
    margin-right: 5px;
}
.write-post-cont-icon a{
    text-decoration: none;
    color: #626262;
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 13px;
}
.user-profile span{
    font-size: 11px;
    color: #9a9a9a;
}
.post-text{
    padding: 15px 0;
    color:#9a9a9a;
}
.post-img{
    width: inherit;
    border-radius: 5px;
    margin-bottom: 7px;
}
.menu-icon{
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 15px;
    color: #1876f2;
}
.post-img-below{
    display: flex;
    justify-content: space-between;
}
.social-icon{
    display: flex;
}
.social-icon div img{
    width: 17px;
    margin-right: 3px;
}
.social-icon div{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.social-icon div p{
    font-size: 13px;
}
.user-icon{
    display: flex;
    align-items: center;
}
.user-icon img{
    width: 20px;
    border-radius: 50%;
}
.user-icon i{
    font-size: 14px;
    margin-left: 3px;
}
#load-more{
    background-color:transparent;
    border-radius: 10px;
    width: fit-content;
    border: 1px solid #1876f2;
    margin: auto;
    cursor: pointer;
}
#load-more p{
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    padding: 5px;
    color: #ABB2B9;
}

header .setting-menu{
    width: 90%;
    max-width: 232px;
    position: absolute;
    right: 4%;
    top: 55px;
    border-radius: 8px;
    background-color: var(--bg-color);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    padding: 14px;
    display: none;
    
}

header .setting-menu .user-profile a{
    font-size: 11px;
    text-decoration: none;
    color: #1876f2;
}

header .setting-menu .user-profile p{
    font-size: 15px;
}

header .setting-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 8px 0;
}

.settings-link{
    display: flex;
    align-items: center;
    margin: 13px 0;
}

.settings-link .settings-icon{
    width: 35px;
    margin-right: 8px;
    border-radius: 50%;
}

.settings-link a{
    font-size: 14px;
    text-decoration: none;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    color: #626262;
}

.user-profile p{
    color: #9a9a9a;
}

#arrow{
    position: absolute;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 12px solid #fff;
    top: -10px;
    right: 10px;
    
}

#dark-btn{
    position: absolute;
    top: 20px;
    right: 18px;
    background: #ccc;
    width: 35px;
    border-radius: 15px;
    padding: 3px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.4s,background 0.4s;
}
#dark-btn span{
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#dark-btn.dark-btn-on{
    padding-left: 16px;
    background: #0a0a0a;
}